<section>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/admin">Admin Panel</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    <li class="nav-item">
                        <a class="nav-link" href="/admin">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/view-category">Categories</a>
                    </li>
                     <li class="nav-item">
                        <a class="nav-link" href="/admin/view-users">Users </a>
                    </li>
                   
                     <li class="nav-item">
                        <a class="nav-link" href="/admin/view-product">Products </a>
                    </li>
                    
                     <li class="nav-item">
                        <a class="nav-link" href="/admin/view-banner">Banners</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="">Cart</a>
                    </li>
                </ul>
                <a href="/admin/adminlogout" class="btn btn-danger">Logout</a>
            </div>
        </div>
    </nav>
</section><section>
    <div class="container">
        <h3>All Banners</h3>
        <div class="">
            <a href="/admin/add-banner" class="btn btn-success my-4">Add Banner</a>
        </div>
        <table class="table mt-5 display" id="usersTable">
            <thead>
                <tr>
                    <th scope="col">BannerImage</th>
                    <th scope="col">Title</th>
                    <th scope="col">Caption</th>
                    
                    
                    <th></th>
                    
                </tr>
            </thead>
            <tbody>
                {{#each banners}}
                <tr>
                   
                    
                    <td>
                        
                        
                        <img width="50px" height="50px" src="/images/productimg/{{this.bannerimage}}" alt="image">
                        
                        
                         </td>
                          <td>{{this.title}} </td>
                    <td>{{this.caption}} </td>
                    
                    <td>
                        <a href="/admin/edit-banner/{{this._id}}" class="btn btn-primary">Edit</a>
                        <a href="/admin/delete-banner/{{this._id}}" class="btn btn-danger"
                            onclick="return confirm('Are you sure to delete {{this.Name}}?')">Delete</a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>

</section>
<script>
    $(document).ready(function () {


        $('#usersTable').wrap('<div id="hide" style="display:none"/>');

        $('#hide').css('display', 'block');
    });


    var table = $('#usersTable').DataTable();
</script>