<section>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/admin">Admin Panel</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    <li class="nav-item">
                        <a class="nav-link" href="/admin">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/view-category">Categories</a>
                    </li>
                     <li class="nav-item">
                        <a class="nav-link" href="/admin/view-users">Users </a>
                    </li>
                   
                     <li class="nav-item">
                        <a class="nav-link" href="/admin/view-product">Products </a>
                    </li>
                    
                     <li class="nav-item">
                        <a class="nav-link" href="/admin/view-banner">Banners</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="">Cart</a>
                    </li>
                </ul>
                <a href="/admin/adminlogout" class="btn btn-danger">Logout</a>
            </div>
        </div>
    </nav>
</section><section>
    <div class="container">
        <h3>All Users</h3>
        
       
        <table class="table mt-5 display" id="usersTable">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Mobile</th>
                    <th scope="col">Status</th>

                    
                </tr>
            </thead>
            <tbody>
                {{#each userdetails}}
                <tr>
                    <td>{{this.name}} </td>
                    <td>{{this.email}} </td>
                    <td>{{this.mobile}} </td>
                    
                    <td>
                        
                      {{#if this.status}}  
                      <a href="/admin/block-user/{{this._id}}" class="btn btn-primary">Block</a>
                     {{else}} 
                     <a href="/admin/block-user/{{this._id}}" class="btn btn-primary">Unblock</a>
                     {{/if}}
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>

</section>
<script>
    $(document).ready(function () {


        $('#usersTable').wrap('<div id="hide" style="display:none" class="mt-5"/>');

        $('#hide').css('display', 'block');
    });


    var table = $('#usersTable').DataTable();
</script>