<div class="row align-items-center py-3 px-xl-5">
    <div class="col-lg-3 d-none d-lg-block">
        <a href="" class="text-decoration-none">
            <h3 class="m-0 display-5 font-weight-semi-bold"><span
                    class="text-primary font-weight-bold border px-3 mr-1">v</span>voicedots</h3>
        </a>
    </div>
    <div class="col-lg-6 col-6 text-left">
        <form action="">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for products">
                <div class="input-group-append">
                    <span class="input-group-text bg-transparent text-primary">
                        <i class="fa fa-search"></i>
                    </span>
                </div>
            </div>
        </form>
    </div>
    <div class="col-lg-3 col-6 text-right">
        <a href="/wishlist" class="btn border">
            <i class="fas fa-heart text-primary"></i>
            <span class="badge badge-primary" id="wishlist-count" style="color: white;"></span>
        </a>
        <a href="/cart" class="btn border">
            <i class="fas fa-shopping-cart text-primary"></i>
            <span class="badge badge-primary" id="cart-count" style="color: white;"></span>
        </a>
    </div>
</div>

<!-- Topbar End -->


<!-- Navbar Start -->
<div class="container-fluid mb-5">
    <div class="row border-top px-xl-5">
        <div class="col-lg-12">
            <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-0">
                <a href="" class="text-decoration-none d-block d-lg-none">
                    <h1 class="m-0 display-5 font-weight-semi-bold"><span
                            class="text-primary font-weight-bold border px-3 mr-1">v</span>voicedots</h1>
                </a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <div class="navbar-nav mr-auto py-0">
                        <a href="/" class="nav-item nav-link active">Home</a>
                        <a href="/shop" class="nav-item nav-link active">Shop</a>
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Categories</a>

                            <div class="dropdown-menu rounded-0 m-0">
                                {{#each cats}}
                                <a href="/shop/{{this.categoryname}}" class="ml-3" data-toggle="dropdownitem">
                                    <div>{{this.categoryname}}</div>
                                </a>
                                {{/each}}
                            </div>

                        </div>

                    </div>
                    <div class="navbar-nav ml-auto py-0">
                        {{#if session.userloggedIn}}
                        <a href="/profile" class="nav-item nav-link">{{session.user.name}}</a>
                        <a href="/logout" class="nav-item nav-link">Logout</a>
                        {{else}}
                        <a href="/login" class="nav-item nav-link">Login</a>
                        <a href="/Register" class="nav-item nav-link">Register</a>
                        {{/if}}
                    </div>
                </div>
            </nav>
            <script src="/javascripts/cartcount.js"></script>

            </nav>



            <!-- Page Header Start -->
            <div class="container-fluid bg-secondary mb-5">
                <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
                    <h1 class="font-weight-semi-bold text-uppercase mb-3">Checkout</h1>
                    <div class="d-inline-flex">
                        <p class="m-0"><a href="/">Home</a></p>
                        <p class="m-0 px-2">-</p>
                        <p class="m-0">Checkout</p>
                    </div>
                </div>
            </div>
            <!-- Page Header End -->


            <!-- Checkout Start -->
            <div class="container-fluid pt-5">
                <div class="row px-xl-5">
                    <div class="col-lg-12">
                        <div class="mb-4">
                            <h3 class="font-weight-semi-bold mb-4">Billing Address</h3>
                            <div class="col mt-2">
                                <a href="/add-address/{{this._id}}" class="btn btn-primary " type="button">Add
                                    Address</button></a>
                            </div>
                            <div class="row p-2">
                                <div class="col-lg-8 mb-3 p-0">
                                    <div class="row">
                                        {{#each address}}
                                        <div class="col-lg-6 ">
                                            <div class="card">
                                                <div class="card-body">
                                                    <input type="radio" name="address" value="{{this._id}}" id=""
                                                        checked>
                                                    <h5 class="card-title">{{this.name}} <br>{{this.address}}</h5>
                                                    <p class="card-text">{{this.address1}},{{this.address2}}
                                                        <br> {{this.city}}
                                                        <br>{{this.state}}
                                                        <br>PIN:{{this.pinCode}} <br>{{this.mobile}}
                                                    </p>

                                                </div>
                                            </div>
                                        </div>
                                        {{/each}}
                                    </div>

                                </div>


                                <div class="col-lg-4 ">

                                    <div class="card border-secondary mb-5">
                                        <div class="card-header bg-secondary border-0">
                                            <h4 class="font-weight-semi-bold m-0">Order Total</h4>
                                            <div class="card-body">
                                                <h5 class="font-weight-medium mb-3">Products</h5>
                                            </div>{{#each cartProducts.cartItems}}
                                            <div class="d-flex justify-content-between">
                                                <p>{{this.product.productname}}</p>
                                                <p>{{this.product.productprice}}</p>
                                            </div>{{/each}}

                                            <hr class="mt-0">
                                            <div class="d-flex justify-content-between mb-3 pt-1">
                                                <h6 class="font-weight-medium">Subtotal</h6>
                                                <h6 class="font-weight-medium">RS.<span id="subtotal">{{response.total}}
                                                    </span></h6>
                                            </div>
                                            <div class="d-flex justify-content-between mb-3 pt-1">
                                                <h6 class="font-weight-medium">Coupon Discount</h6>
                                                {{#if response.discount}}<h6 class="font-weight-medium text-success">
                                                    -Rs. <span id="coupondiscount">{{response.discount}}</span>{{else}}
                                                    <h6 class="font-weight-medium">
                                                        -Rs. <span id="coupondiscount">0</span>{{/if}} </h6>
                                            </div>
                                            <div class="d-flex justify-content-between">
                                                <h6 class="font-weight-medium">Shipping</h6>
                                                <h6 class="font-weight-medium">RS.<span
                                                        id="shipping">{{response.shipping}}</span></h6>
                                            </div>

                                        </div>
                                        <div class="card-footer border-secondary bg-transparent">
                                            <div class="d-flex justify-content-between mt-2">
                                                <h5 class="font-weight-bold">Total</h5>
                                                <h5 class="font-weight-bold">RS.<span
                                                        id="grandTotal">{{response.grandTotal}}</span></h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card border-secondary mb-5">
                                        <div class="card-header bg-secondary border-0">
                                            <h4 class="font-weight-semi-bold m-0">Payment</h4>
                                        </div>
                                        <div class="card-body">
                                            <div class="form-group">
                                                <div><label style="cursor:pointer">
                                                        <input type="radio" name="payment" id="COD" value="COD">
                                                        Cash-On-Delivery</label>
                                                </div>
                                            </div>
                                            <div class="">
                                                <div><label style="cursor:pointer">
                                                        <input type="radio" name="payment" id="online" value="online"
                                                            checked>
                                                        Online</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-footer border-secondary bg-transparent">
                                            <button onclick="placeOrder()"
                                                class="btn btn-lg btn-block btn-primary font-weight-bold my-3 py-3">Place
                                                Order</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <script>
                            const razorPayment = (data) => {
                                var options = {
                                    "key": "rzp_test_DRTObS63yIQCzy", // Enter the Key ID generated from the Dashboard
                                    "amount": data.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
                                    "currency": "INR",
                                    "name": "Acme Corp",
                                    "description": "Test Transaction",
                                    "image": "https://example.com/your_logo",
                                    "order_id": data.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
                                    "handler": function (response) {
                                        verifyPayment(response, data);
                                    },
                                    "prefill": {
                                        "name": "Gaurav Kumar",
                                        "email": "gaurav.kumar@example.com",
                                        "contact": "9999999999"
                                    },
                                    "notes": {
                                        "address": "Razorpay Corporate Office"
                                    },
                                    "theme": {
                                        "color": "#3399cc"
                                    }
                                };
                                var rzp1 = new Razorpay(options);
                                rzp1.on('payment.failed', function (response) {
                                    alert(response.error.code);
                                    alert(response.error.description);
                                    alert(response.error.source);
                                    alert(response.error.step);
                                    alert(response.error.reason);
                                    alert(response.error.metadata.order_id);
                                    alert(response.error.metadata.payment_id);
                                    verifyPayment(response, data);
                                });
                                rzp1.open();

                            }

                            const placeOrder = async () => {
                                let paymentMethod = $('input[type="radio"][name="payment"]:checked').val()
                                let address = $('input[type="radio"][name="address"]:checked').val()
                                console.log(paymentMethod)
                                try {
                                    const res = await axios.post('/placeOrder', {
                                        paymentMethod: paymentMethod,
                                        address: address
                                    }).then((e) => {
                                        if (paymentMethod === "COD") {
                                            location.href = `/orderSuccess/${e.data.order._id}`;
                                        } else {
                                            console.log(e.data.data)
                                            razorPayment(e.data.data)
                                        }

                                    })
                                } catch (err) {
                                    console.log(err)
                                }
                            }

                            const verifyPayment = async (payment, order) => {
                                try {
                                    const res = await axios.post('/verifyPayment', {
                                        payment,
                                        order
                                    }).then((e) => {
                                        if (e.data.status) {
                                            location.href = `/orderSuccess/${order.receipt}`;
                                        } else {
                                            alert('oooooombie!!!');
                                        }
                                    })
                                } catch {

                                }
                            }

                        </script>